@charset "UTF-8";
@-webkit-keyframes clipPath {
  0% {
    -webkit-clip-path: circle(0 at 100% 0%);
            clip-path: circle(0 at 100% 0%);
  }
  100% {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
}
@keyframes clipPath {
  0% {
    -webkit-clip-path: circle(0 at 100% 0%);
            clip-path: circle(0 at 100% 0%);
  }
  100% {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
}

@media screen and (max-width: 750px) {
  .header_sm {
    width: 100vw;
    height: 60px;
    padding: 8px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  .header_sm img {
    width: 230px;
    display: block;
  }
  /*　ハンバーガーボタン　*/
  .hamburger {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    cursor: pointer;
    text-align: center;
    z-index: 200;
  }
  .hamburger span {
    display: none;
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 20%;
    left: 6px;
    background: #555;
  }
  .hamburger p {
    font-size: 12px;
    background-color: #3269f5;
    color: white;
    padding: 5px 8px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  /* ナビ開いてる時のボタン */
  .hamburger.active {
    width: 40px;
    height: 40px;
  }
  .hamburger.active p {
    display: none;
  }
  .hamburger.active span:nth-child(1) {
    display: block;
    top: 16px;
    left: 6px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    display: block;
    top: 16px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  nav.globalMenuSp {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#4481eb), to(#04befe));
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    padding-top: 56px;
    color: #fff;
    text-align: center;
    display: none;
    /* このクラスを、jQueryで付与・削除する */
  }
  nav.globalMenuSp.active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    -webkit-animation: clipPath 0.5s cubic-bezier(0.22, 0.6, 0.35, 1) 0s 1 forwards;
            animation: clipPath 0.5s cubic-bezier(0.22, 0.6, 0.35, 1) 0s 1 forwards;
  }
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    -webkit-transition: 0.4s all;
    transition: 0.4s all;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover {
    background: #99abe9;
  }
  nav.globalMenuSp ul li a {
    display: inline-block;
    color: #fff;
    padding: 1em 0;
    text-decoration: none;
    margin-left: 10px;
    width: 150px;
    letter-spacing: 2px;
  }
}
/*# sourceMappingURL=header.css.map */