.module-spacer--small {
  height: 25px
}
.module-spacer--medium {
  height: 50px
}
.module-spacer--large {
  height: 100px
}

@media screen and (max-width: 1024px) {

  .module-spacer--small {
    height: 18.75px
  }
  .module-spacer--medium {
    height: 37.5px
  }
  .module-spacer--large {
    height: 75px
  }
  
}

@media screen and (max-width: 750px) {

  .module-spacer--small {
    height: 12.5px
  }
  .module-spacer--medium {
    height: 25px
  }
  .module-spacer--large {
    height: 50px
  }
  
}