<%= render partial: 'shared/header' %>

<div class="module-spacer--large"></div>
<div class="module-spacer--small"></div>

<nav class="home_invitation_complete_content">
    
    <div class="home_invitation_complete_title">
        <p>お問い合わせが送信されました</p>
    </div>
    
    <div class="module-spacer--medium"></div>

    <div class="home_invitation_complete_sub">
        <p>担当者よりご連絡致しますのでお待ち下さい</p>
    </div>

    <div class="module-spacer--large"></div>

    <div class="home_invitation_complete_back">
      <%= link_to "トップ画面に戻る", root_path %>
    </div>

</nav>

<div class="module-spacer--medium"></div>

<%= render partial: 'shared/footer' %>