<%= render partial: 'shared/header' %>

<nav class="home_content wrap">

    <div class="module-spacer--large"></div>
    <div class="module-spacer--large"></div>

    <div class="home_concept">
        <h1 class="concept_title_1">幸せ創造協会協会設立宣言の目的</h1>
        <p class="concept_words_1">幸せ未来を創ることであり、以下の項目を実践する。</p>
    </div>

    <div class="module-spacer--large"></div>

    <div class="home_happy_definition">
        <div class="home_happy_definition_section">
            <span>01</span>
            <p>人々の個人の幸せを願い、幸せを自身で求め創る青い鳥運動(自分の幸せ探し) を自身の手で掴む幸せ運動をする。</p>
        </div>
        <div class="module-spacer--small"></div>
        <div class="home_happy_definition_section">
            <span>02</span>
            <p>世界の人々が生き方、考え方を変えることで、生き甲斐を自身の手で多くの人が幸せになれるよう、他の人と考え方の共有を図り、人類の未来に役立つようにする。</p>
        </div>
        <div class="module-spacer--small"></div>
        <div class="home_happy_definition_section">
            <span>03</span>
            <p>世界が戦争のない平和な社会、楽しく暮らせる未来、交流の輪が真に助け合う輪に繋がり、心豊かな安心安全な社会を創る。</p>
        </div>
        <div class="module-spacer--small"></div>
        <div class="home_happy_definition_section">
            <span>04</span>
            <p>家庭教育環境は、大事な人が育つ大事なところであり、健全な考え方から心優しい健全な人が育つように、思いやりを持ち、感謝の気持ちを持ち、健全な心を持つ。</p>
        </div>
    </div>

    <div class="module-spacer--medium"></div>

    <div class="home_happy_definition">
        <p class="hachidori_words">
            今、世界は地球環境、経済格差による<span class="hachidori_words">不平等をなくし</span>、迫害による人権問題、貧困問題、これから人類が希望を持ち暮らせる未来を創り上げる、賛同者を広げ未来を変える。平等な社会、世界を創ろう。
        </p>
    </div>

    <div class="module-spacer--large"></div>
    <div class="module-spacer--large"></div>

    <div class="home_concept">
        <h1 class="concept_title_1">協会設立宣言</h1>
    </div>

    <div class="home_happy_definition">
        <p>
            幸せを願う事、世界人類で其れを願わない人は誰一人とも居ない。</br></br>
            私は現実において余りにも幸せを知らない人が多すぎる、この現状を踏まえ、何とか本当の幸せを 感じて生きる人を一人でもより多く増やしていきたい。人それぞれの生き方、感じ方は違うけど、 幸せである人を世界中に増やしてゆきたい。</br></br>
            私は、今回決意を持って此処に幸せ協会を設立致します。</br></br>
            今後私の考えに賛同する人を一人でも世界中に増やし、今、私はこの決意を持って、此処に「人々 の幸せ創造協会」を設立し、この考えに賛同し実践し、世界中に広げる「伝道師」を世界中に増や し続けることを、生涯の生き甲斐と喜びとします。
        </p>
        <div class="module-spacer--medium"></div>

        <p class="home_happy_definition_author">人々の幸せ創造協会　会長</br>石川竜三</p>
    
    </div>

    <div class="module-spacer--large"></div>
    <div class="module-spacer--large"></div>


    <div class="home_happy_definition">
        <span class="home_happy_definition_title_eng">Join the association</span>
        <div class="module-spacer--small"></div>
        <h2 class="home_happy_definition_title_jp">人々の幸せ創造協会入会について</h2>
        <div class="module-spacer--large"></div>
        <p>
            本会の設立宣言に賛同し、本会にご入会いただける方は下記の申請フォームのリンクからお客様情報の入力をお願いいたします。
        </p>
        <div class="module-spacer--large"></div>
        <%= link_to "申請フォームはこちら", new_user_registration_path, class: "registration_link" %>
    </div>

</nav>

<div class="module-spacer--large"></div>

<%= render partial: 'shared/footer' %>