<nav class="home_content">
    <div class="home">
        <div class="home-title-first">
            <h1>幸せの基本概念 コンセプト</h1>
        </div>
        <div class="home-sub-first">
            <p>
                今、世界は地球環境、経済格差による
                不平等を無くし、迫害による人権問題、
                貧困問題、此れから人類が希望を持ち
                暮らせる未来を創り上げる。
                賛同者を広げ未来を変える。
            </p>
        </div>
        <div class="home-title-second">
            <h2>平等な社会、世界を創ろう</h2>
        </div>
        <div class="home-sub-second">
            <p>全世界の人々の幸せを創る</p>
        </div>
        <div class="home-end">
            <p>人々の幸せ創造協会</p>
        </div>
    </div>

    <div class="module-spacer--medium"></div>

    <div class="home">
        <div class="home-title-first">
            <h1>協会設立宣言</h1>
        </div>
        <div class="home-sub-first">
            <p>
                幸せを願う事、世界人類で其れを願わない人は誰一人とも居ない。</br>
                私は現実において余りにも幸せを知らない人が多すぎる、この現状を踏まえ、何とか本当の幸せを 感じて生きる人を一人でもより多く増やしていきたい。人それぞれの生き方、感じ方は違うけど、 幸せである人を世界中に増やしてゆきたい。</br>
                私は、今回決意を持って此処に幸せ協会を設立致します。</br>
                今後私の考えに賛同する人を一人でも世界中に増やし、今、私はこの決意を持って、此処に「人々 の幸せ創造協会」を設立し、この考えに賛同し実践し、世界中に広げる「伝道師」を世界中に増や し続けることを、生涯の生き甲斐と喜びとします。</br>
            </p>
        </div>
        <div class="home-title-second">
            <h2>幸せ定義</h2>
        </div>
        <div class="home-sub-second">
            <p>
                足るを知るを身上とする。(自分に合う尺度を持つ)</br>
                1. 自己の立場、能力に合う今の位置で足るを知る。(幸せ尺度を知る)</br>
                2. 過去、現在、未来、人を大事に生きることを身上とする。</br>
                3. 嘘偽り迷惑を掛けない、妬み、恨み、僻みを持たず、人に思いやりを持ち、人を傷つける言動をしない。</br>
                4. 人の長所を称え、短所を責めない自己改善、良い所だけ褒める事。</br>
            </p>
            <p>協会は4ヶ条を理解し実行する人を世界中に広げる事を基本とする。</p>
        </div>
        <div class="home-end">
            <p>人々の幸せ創造協会 発起人</p>
            <p>石川竜三</p>
        </div>
    </div>

    <div class="module-spacer--medium"></div>

    <div class="home">
        <div class="home-title-first">
            <h1>幸せの概念</h1>
        </div>
        <div class="home-sub-first">
            <%= image_tag "幸せの概念.png", alt: "幸せの概念の画像" %>
        </div>
        <div class="home-title-second">
            <h2></h2>
        </div>
        <div class="home-sub-second">
            <p>
                1. 人間学:人を思いやりを大事にし、愛情、感謝、利他の精神を伝えること</br>
                2. 自然科学:山、海、川、草木などを全てのものを愛する心を伝えること</br>
                3. 宇宙学:宇宙に存在するすべての生物は、宇宙をこよなく愛し汚すようなことがないようにすること</br>
                4. 平等学:動物、草木、山河、虫、鳥、岩石などすべてのものは平等であり、人間のエゴで地球、宇宙、山河、自然を破壊してならない。すべてのものは平等です。すべてを愛し、同調する考え</br>
                5. 健康学(生命科学):自然の免疫を高め健康になることで生き生き過ごし、自分を取人々の幸せ創造協会り戻すこと。</br>
            </p>
        </div>
        <div class="home-end">
            <p>人々の幸せ創造協会 発起人</p>
            <p>石川竜三</p>
        </div>
    </div>

</nav>